{% extends "master.html" %}
{% block title %}
	Create Student
{% endblock %}
{% block body %}
  	<form method="POST" role="form" action='/student/create'>
  	<legend><h3>Create a student</h3></legend>
  	<span class="help-block">Lastname, Firstname and Grade are required.</span>
  	<div class='form-group'>
		<label for="lastname">Lastname:</label>
		<input name='lastname' type="text" class="form-control" required>
	</div>
	<div class='form-group'>
		<label for="firstname">Firstname:</label>
		<input name="firstname" type='text' class="form-control" required>
	</div>
	<div class='form-group'>
		<label for="grade">Grade (numeric 0-9):</label>
		<input name='grade' type="text" class="form-control" required>
	</div>

	<br>
	<legend>Guardian 1:</legend>
	<span class="help-block">The guardian information is optional.</span>
	<div class='form-group'>
		<label for="guardian1">Name:</label>
		<input name="guardian1" type="text" class="form-control">
	</div>
	<div class='form-group'>
		<label for="guardian1phone">Phone #</label>
		<input name="guardian1phone" type='tel' class="form-control">
	</div>
	<div class='form-group'>
		<label for='guardian1relationship'>Relationship</label>
		<input name="guardian1relationship" type='text' class="form-control">
	</div>

	<br>
	<legend>Guardian 2:</legend>
	<div class='form-group'>
		<label for="guardian2">Name:</label>
		<input name="guardian2" type="text" class="form-control">
	</div>
	<div class='form-group'>
		<label for="guardian2phone">Phone #</label>
		<input name="guardian2phone" type='tel' class="form-control">
	</div>
	<div class='form-group'>
		<label for='guardian2relationship'>Relationship</label>
		<input name="guardian2relationship" type='text' class="form-control">
	</div>

	<br>
	<legend>Guardian 3:</legend>
	<div class='form-group'>
		<label for="guardian3">Name:</label>
		<input name="guardian3" type="text" class="form-control">
	</div>
	<div class='form-group'>
		<label for="guardian3phone">Phone #</label>
		<input name="guardian3phone" type='tel' class="form-control">
	</div>
	<div class='form-group'>
		<label for='guardian3relationship'>Relationship</label>
		<input name="guardian3relationship" type='text' class="form-control">
	</div>

	<br>
	<legend>Guardian 4:</legend>
	<div class='form-group'>
		<label for="guardian4">Name:</label>
		<input name="guardian4" type="text" class="form-control">
	</div>
	<div class='form-group'>
		<label for="guardian4phone">Phone #</label>
		<input name="guardian4phone" type='tel' class="form-control">
	</div>
	<div class='form-group'>
		<label for='guardian4relationship'>Relationship</label>
		<input name="guardian4relationship" type='text' class="form-control">
	</div>
	<br><br>
	<div class='form-group'>
		<label for="student_type">
			<input name='afterschoolstudent' id='afterschoolstudent' type='checkbox'>This student is part of the afterschool program.</input>
		</label>
	</div>
	<div class='form-group'>
		<label for='self_signout'>
			<input name="self_signout" type="checkbox"> This child is allowed to check themself out of afterschool.
		</label>
	</div>
	<div class='form-group'>
		<button type='submit' class='btn btn-primary'>Submit this information</button>
	</div>
	</form>
	<br>
	<br>

{% endblock %}

