{% extends "master.html" %}

{% block grademenu %}
		<ul class="nav nav-tabs">
				<li><a href="/">All</a></li>
				<li><a href="/?grade=0">K</a></td>
				<li><a href="/?grade=1">1st</a></li>
				<li><a href="/?grade=2">2nd</a></li>
				<li><a href="/?grade=3">3rd</a></li>
				<li><a href="/?grade=4">4th</a></li>
				<li><a href="/?grade=5">5th</a></li>
				<li><a href="/?grade=6">6th</a></li>
				<li><a href="/?grade=7">7th</a></li>
				<li><a href="/?grade=8">8th</a></li>
				<li><a href="/?grade=9">9th</a></li>
		</ul>
{% endblock %}

{% block body %}
<style>
	
</style>
{% for student in students %}
	<table>
		<tr class='student'>
			<td class='stu_name'><h3>{{ student.lastname }}, {{ student.firstname }}</h3></td>
		</tr>
	</table>
	<table>
		<tr>
			<td class='btns'>
				<select class='event_selector' studentid="{{ student.id }}">
					<option>Sign into:</option>
					{% for type in event_titles %}
					<option>{{ type}}</option>
					{% endfor %}
				</select>
			</td>
			<td>
				<select class='signout_selector' studentid="{{ student.id }}">
						<option>Sign out to:</option>
						{% for guardian in student.guardians %}
						<option> {{ guardian.name }}</option>
						{% endfor %}
						{% if student.selfsign == "True" %}
						<option>his/herself</option>
						{% endif %}
				</select>
			</td>
			<td>
				<button class="bathroom_btn btn btn-default" studentid="{{ student.id }}">Bathroom</button>
			</td>
			<td>
				<button class="absent_btn btn btn-default" studentid="{{ student.id }}">Mark Absent</button>
			</td>
			<td>
				<a href="/student/view/{{ student.id }}"><button class='btn btn-default'>View</button></a>
			</td>
		</tr>
	</table>
	<table id="student{{ student.id }}">
		<tr></tr>
	</table>
	<br>
{% endfor %}
{% endblock %}

{% block includes %}
	<script src="/static/jquery.1.10.2.min.js"></script>
	<script src="/static/app.js"></script>
{% endblock %}
