<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{%endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
	{% block head %}
	{% endblock %}
  </head>
  <body>
      <div class="navbar navbar-inverse navbar-static-top">
        <div class='container'>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/student/create">Create Student</a></li>
            <li><a href="/event/manage">Manage Event/Clubs</a></li>
            <li><a href="/logout">Log Off</a></li>
            {% block front_page_count_block %}{% endblock %}
            </ul>
            <form class='navbar-form navbar-right' method='GET' action='/'>
              <div class='form-group'>
                <input name='term' type='text' placeholder='Student Name' class='form-control'>
              </div>
              <div class='form-group'>
                <button type='submit' class='btn btn-success'>Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    <div class='container'>
	  	{% block grademenu %}
	  	{% endblock %}

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

	  	{% block body %}
	  	{% endblock %}
  	</div>
  		{% block includes %}
  		{% endblock %}
  </body>
</html>

